<div class="row">
<div class="span12">
	<p class="who">Lydia Xythali is a web designer and copywriter based in Athens, Greece.<br />I love to create simple, minimalistic designs and clean, user-friendly websites. I also love the fact that language is such a wonderfully complex means of communicating information, experience, feelings and ideas throughout the world. Having studied English Literature at the University of Athens, I have always been an avid admirer of the power of words.<br />
I have been working for <a class="cyclops" href="http://www.cyclopsweb.gr">Cyclops Web Studio</a>, a small Athens-based web design company since 2010.
<br /> </P>
</div>
</div>
