h1.logo {background-image: url('images/logo.png') ;
background-repeat: no-repeat; 
width: 200px;
height: 200px;
background-position: none;
margin: auto;}



ul#menu {list-style: none;
font-size: 15px;
margin: auto;
padding: 0;
background-position: none;
display: inline;}



ul#menu li{float: left;
display: inline;
margin: auto;
padding: 5px;
background-position: none;
text-align: center;
font-family: 'Ultra', serif
;}




ul#menu li a {text-decoration: none;
color: #000;}

ul#menu li a:hover {color: #ea2e49;
border-bottom: 2px solid #ea2e49;}

.who {margin-top: 25px;
	font-size: 18px;

text-align: center;
font-family:'Brawler', serif;
line-height: 30px;
 }

.cyclops {color: #45afba;}
a.cyclops:hover {text-decoration:none;
	color: #ea2e49;}

		
hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;    
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}